        <div class="main rel">
            <%= render :partial => 'thesquad' %>
            <%= render :partial => 'tagline' %>
            <%= render :partial => 'copy' %>
            <%= render :partial => 'social_networking' %>
		</div>
		
      <%= render :partial => 'portfolio' %>
      <%= render :partial => 'shared/footer' %>

    
   